.background {
    background: linear-gradient(
        180deg,
        #21b8f9 0%,
        rgba(33, 184, 249, 0) 132.05%
    );
    padding: 0px 20px;
    display: flex;
    width: 100%;
    height: 140px;
    justify-content: space-between;
    align-items: center;
}

h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 34px !important;
    line-height: 39px;
    color: #ffffff;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: right;
}

.hero-link {
    color: white !important;
    cursor: pointer;
    font-family: Roboto;
    font-size: 17px !important;
    display: flex;
    align-items: center;
    text-align: right;
    text-decoration: underline;
    margin-right: 10px;
    text-decoration-line: none !important;
    border-bottom: 1px solid white;
}

.hero-icon {
    color: white;
    margin-left: 8px;
}
