
.listitem-box {
 /* margin-bottom: 3px; */
}

.listitem-container{
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 240px;
}

.icon {
	color: #103B66 !important;
    padding: 0px;
    margin: 0px;
    height: 27px;
    width: 30px;
}

.listitem-text {
    font-family: Noto Sans HK;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #21B8F9;
}

.listitem-container:hover {
    border-left: 3px solid #21B8F9;
	color: #21B8F9;
	background-color: #F7F7F7;
} 


.myDiv{
display: flex;
align-items: center;
margin-left: 15px;
height: 40px;
width: 240px;
color: #103B66
}

.myDiv:hover{
    color: #21B8F9;
}

.badge {
    margin-left: 110px !important;
    background-color: red;
}





